@{
    ViewData["Title"] = "Как играть?";
}
<h2>@ViewData["Title"]</h2>

<p>Сапёр - игра очень простая. Здесь вы можете ознакомиться с правилами игры.</p>
<p>
    В игре существует три стандартных уровня сложности и один пользовательский. Стандартные уровни сложности:
    <ul>
        <li><b>Новичок.</b> Поле 9х9, на котором находятся 10 мин.</li>
        <li><b>Любитель.</b> Поле 16х16, на котором находятся 40 мин.</li>
        <li><b>Профессионал.</b> Поле 30х16, 99 мин.</li>
    </ul>
    Установить сложность можно с помощью меню игры или страницы настроек.
</p>
<p>
    Чтобы начать игру, нажмите на одну из клеток минного поля. Эта клетка откроется. Если вам повезёт, клетка будет пустой и откроется ещё несколько соседних клеток. Если нет, клетка будет обозначена цифрой. Проиграть на первом ходу невозможно.
</p>
<p>
    Цифра указывает на количество мин, расположенных вокруг этой клетки. Допустимы значения от 1 до 8.
</p>
<p>
    Нажав правой кнопкой мыши по неоткрытой клетке, можно установить отметку – флажок. Отмечайте флажками клетки, которые, по вашему мнению, заминированы. Если вы случайно нажмёте левой кнопкой мыши по установленному флажку, ничего не произойдёт. Нажмите на флажок правой кнопкой мыши, чтобы убрать отметку.
</p>
<p>
    Если вы откроете клетку, в которой расположена мина, игра будет проиграна.
</p>
<p>
    Чтобы выиграть, откройте все незаминированные клетки. Постарайтесь сделать это как можно быстрее, чтобы оставить своё имя в таблице рекордов!
</p>

